.container-fluid.container-fluid-helper
  .row
    =image_tag 'aboutheader', class: 'jumbo-image'
    .centered
      #text-box
        .home-text#home-text-short
          About Us
        .home-text#home-text-long
          Oliver Heart Gift Baskets was founded in 2014. We are here to service all your gift basket needs; Select from our wide variety of baskets including gradation, thank-you, ‘dude’ boxes, and many more. We hope you enjoy these riveting gifts as much as we did making them.